@import "tailwindcss";

@import "highlight.js/styles/atom-one-dark.css";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

.prose {
  a {
    @apply text-blue-600 dark:text-blue-400 hover:underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-gray-900 dark:text-gray-100;
  }

  pre {
    @apply rounded-lg p-4 my-4 overflow-x-auto;
  }

  code {
    @apply text-sm;
  }

  .inline-code {
    @apply bg-red-500;
  }
}
